@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
  
    /*font-styles*/
    --font-family:'Montserrat', sans-serif;
    --titles-font-family:'Roboto Slab', cursive;

    /* colors */
    --primary-background-color: #e8eaef;
    --primary-text-color: #3d3d3f;
    --color-primary:#5067b3;
    --color-secondary:#7086cc;

    /*sizes, weights, padding*/
    --h1:56px;
    --h2:36px;
    --h3:28px;
    --h4:24px;
    --h5:20px;
    --h6:20px

   
    --h3-weight:normal;
    --h4-weight:500;
    --h5-weight:bold;
    --h6-weight:bold;

}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family);
    background: var(--primary-background-color);
    color: var(--primary-text-color);
  
}

header{
    display: flex;
}
h1, h2, h3{
    font-family: var(--titles-font-family);
}
h1{
    font-family: var(--titles-font-family);
    font-size: var(--h1);
}

h2 {
    font-family: var(--titles-font-family);
    font-size: var(--h2);  
}    

h3 {
    font-size: var(--h3);
}
p{
    font-family: var(--font-family);
    font-size: var(--h5);
}

main
{
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    gap:89px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}

.burger {
    display:none;
    border-radius: 80%;
    cursor:pointer;
    width:89px;
    height:89px;
    background-color: var(--color-primary);
    z-index: 10;
    margin: 21px 0px 0px 21px;
}
.line{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:3px;
    width:55px;
    background-color: var(--primary-background-color);
 }

 .line::before{
    content :"";
    display:inline;
    position: absolute;
    bottom: 377%;
    height:3px;
    width:55px;
    background-color: var(--primary-background-color);
 }

.line::after{
    content :"";
    display:inline;
    position:absolute;
    bottom: -377%;
    height:3px;
    width:55px;
    background-color:var(--primary-background-color);
}



/*  <!-- Navigation verticale / Left Fixed Navbar --> */
.nav-gauche {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0px;
    border-right: 1px dashed #f1f1f1;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 55px;
}
 .blocs-menu{
    font-family: var(--font-family);
    font-weight: 600;
 }
.cercle-portrait {
    width: 150px;
    height:150px;
}
.logo-cercle {
    width: 58px;
    height:58px;
}
.blocs-menu span a{
text-decoration: none;
color:#f1f1f1;
}

.blocs-menu span a:hover::before{
    content:"";
    height: 2px;
    display: block;
    background-color: var(--color-secondary);
    transition: all 0.2s ease-in-out;

}

.blocs-menu span a:hover::after{
    content:"";
    height: 2px;
    display: block;
    background-color: var(--color-secondary);
    transition: all 0.2s ease-in-out;
}

/************************ HOME SECTION **********************/
.accueil {
    background: url("../ressources/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}
h1 {
    font-size: var(--h1);
    font-family: var(--titles-font-family);
    margin: 0 60px;
    padding-top: 210px;
}
.txt-animation {
    font-size: var(--h2);
    margin: 10px 0 10px 60px;
}
.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: var(--color-primary);
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
}
.btn-acc1 {
    margin: 10px 0 0 60px;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 700;
}
.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
    color: white;
}
.media {
    width: 60px;
    height: 60px;
    background: var(--color-secondary);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media.media2 img {
    filter: invert(97%) sepia(33%) saturate(2%) hue-rotate(266deg) brightness(114%) contrast(100%);
}
.icone-medias {
    width: 30px;
}
.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 var(--color-secondary);
    background: var(--color-secondary);
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}
.logo-btn-rond-acc {
    width: 35px;
}


.presentation {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:89px;
    width:100%;
    position:relative;
    height: 100vh;
    min-height: 700px;
}

 .fond-forme {
    background:var(--primary-background-color);
    width: 100vh;
    height:2000px;
    position: absolute;
    z-index: -1;
} 

.titre-pres {
    font-family: var(--titles-font-family);
    font-size: var(--h2);
}

.container-presentation {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap:144px;
}

.pres-gauche {
    width: 600px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 20px;
}

.pres-gauche p {
    text-align: left;
    margin-top: 34px;
}

.pres-droite {
    width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}
.liste-presentation {
    list-style:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap:34px;
}
.item-liste{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: left;
    gap:21px;

}

.chiffre-style {
    font-family: var(--titles-font-family);
    font-size: var(--h3);
    font-weight: bold;
    float:left;
    }
.txt-liste {
    font-size: var(--font-family;)
    float:right;
    font-size: var(--h3);

    
}

.portfolio
{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
    gap:55px;
    min-height:1050px;
	
    
   
}
.cont-portfolio
{
    display:grid;
    grid-template-columns:repeat(3,26%);
    grid-template-rows:repeat(3,26%);
    justify-content: center;
    grid-gap:34px 34px;
}
.cont-img-port img
{
    width:100%;
    height:200px;
}
.item
{
    text-align:center;
    border:1px solid black;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titre-port
{
    font-size: var(--h2);
    font-family: var(--titles-font-family);
}

.btn-projets{
    display: inline-flex;
    width: 144px;
    height: 34px;
    text-decoration: none;
    background: var(--color-primary);
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
    margin-bottom: 5px;
    font-family: var(--font-family);
    font-size: var(--h5);
    font-weight: var(--h5-weight);
}

.section-range{
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    gap:89px;
}

.range-cont{
    width: 377px;
    font-weight: var(--h6-weight);

}

.grille-skill{
    min-height: 615px;
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap:89px;
}

.barre-grises{
    background-color: gray;
    width:377px;
    height:21px;
    z-index: -1;
    position: absolute;
}


.barre-skill{
    width: 377px;
    height:21px;
    position: relative;
    bottom:-21px;
    left:0;
    z-index:1;
    
    
 }

.b1 {
    width:05%;
    background-color: var(--color-secondary);
}

.b2{
    width:60%;
    background-color: var(--color-secondary);
}

.b3{
    width:60%;
    background-color: var(--color-secondary); 
}
.b4{
    width:25%;
    background-color: var(--color-secondary);
}

.b5{
    width:5%;
    background-color: var(--color-secondary);
}

.b6{
    width:5%;
    background-color: var(--color-secondary);
}

.travail-exp{
    min-height: 700px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:89px;
}

.cont-exp-travail{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:55px;
}

.barre-verticale{
    margin:55px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:101px; 
}

.flex-cont-bloc-exp{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:55px; 
    width:987px;
}

.titre-section-bloc{
    font-size: var(--h4);
    font-weight: var(--h4-weight);
}

.boule-ico{
    width:34px;
    height:34px;
}

.section-contact{
    min-height: 700px;
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    gap:55px;
}



.form-bloc{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
    gap:34px;
    font-size: var(--h4);
 }

input[type=text], select {
    width: 610px;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 610px;
    height: 34px;
    text-align: center;
    font-size: var(--h5);
  }

   textarea{
      height:144px;
      width: 610px;
  } 





/* responsive*/

@media screen and (max-width: 721px){
  .btn-rond{
      visibility:hidden;
  }

  .nav-gauche.responsive {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: -300px;
    border-right: 1px dashed #f1f1f1;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 55px; 
}

.burger{
    display:inline-flex;
    z-index:8;
    position:absolute;
}

.main{
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    gap:89px;
    width: 100%;

}

.accueil{
    background: url("../ressources/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width:100%
}

.accueil h1 {
    color:var(--color-primary)
}
.txt-animation {
    font-size: var(--h2);
    margin: 10px 0 10px 60px;
}


.txt-animation::after {
    content:"";
    white-space: pre;

}

.btn-acc{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 60px;
    white-space: pre-line;
}
.btn-acc1 {
   margin: 55px 0 0 60px;
}

/* aboutme */
.presentation{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:89px;
    width: 100%;
}

.container-presentation{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:89px;
    margin-left: -150px;

}
.titre-pres {
    margin-left: -260px;
}


.pres-gauche {
    margin-left: -300px;
}
.liste-presentation {
    /* margin-left: -180px; */

}


.portfolio
{
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
    align-items: center;
    gap:89px;
    margin-left: -300px;
    width:100%;

}

.cont-portfolio
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.section-range{
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    gap:89px;
    margin-left: -300px;
}
.grille-skill{
    min-height: 615px;
    display:grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap:89px;
}
.travail-exp{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:89px;
     margin-left: -300px;
}
.cont-exp-travail{
    display:flex;
    flex-direction: row;
    align-items: flex;
    justify-content: center;
    gap:89px;
  }

  .barre-verticale{
    /* margin:55px; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:170px; 
} 

.flex-cont-bloc-exp{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:55px; 
    width:377px;
}

.section-contact{
    margin-left: -300px;
}

}
