@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yeseva+One&display=swap');
:root{
  
    /*font-styles*/
    --font-family:'Montserrat', sans-serif;
    --titles-font-family:'Yeseva One', cursive;

    /* colors */
    --primary-background-color: #e8eaef;
    --primary-text-color: #3d3d3f;
    --color-primary:#5067b3;
    --color-secondary:#7086cc;

    /*sizes, weights, padding*/
    --h1:54px;
    --h2:36px;
    --h3:28px;
    --h4:24px;
    --h5:20px;
    --h6:20px

   
    --h3-weight:normal;
    --h4-weight:500;
    --h5-weight:bold;
    --h6-weight:bold;

}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-family);
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    /* coded 
    /*display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;*/
    /*display: grid;
    grid-template-rows: repeat(12, 150px);*/
}

header{
    display: flex;
}

/*  <!-- Navigation verticale / Left Fixed Navbar --> */
.nav-gauche {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background: var(--color-primary);
    position: fixed;
    top: 0;
    left: 0px;
    border-right: 1px dashed #f1f1f1;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    /* New code */
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
 .blocs-menu{
    font-family: var(--font-family);
 }
.cercle-portrait {
    width: 150px;
    height:150px;
}
.logo-cercle {
    width: 58px;
    height:58px;
}
.blocs-menu span a{
text-decoration: none;
color:#f1f1f1;
}

.blocs-menu span a:hover::before{
    content:"";
    height: 2px;
    display: block;
    background-color: var(--color-secondary);
    transition: all 0.2s ease-in-out;

}

.blocs-menu span a:hover::after{
    content:"";
    height: 2px;
    display: block;
    background-color: var(--color-secondary);
    transition: all 0.2s ease-in-out;
}

/************************ HOME SECTION **********************/
.accueil {
    background: url("../ressources/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}
h1 {
    font-size: var(--h1);
    font-family: var(--titles-font-family);
    margin: 0 60px;
    padding-top: 210px;
}
.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}
.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: var(--color-primary);
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
}
.btn-acc1 {
    margin: 10px 0 0 60px;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 700;
}
.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
    color: white;
}
.media {
    width: 60px;
    height: 60px;
    background: var(--color-secondary);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media.media2 img {
    filter: invert(97%) sepia(33%) saturate(2%) hue-rotate(266deg) brightness(114%) contrast(100%);
}
.icone-medias {
    width: 30px;
}
.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 var(--color-secondary);
    background: var(--color-secondary);
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}
.logo-btn-rond-acc {
    width: 35px;
}


.presentation {
    /*display:grid;
    grid-row-start: 3;
    grid-row-end: 13;
    /*height:690px;
    width: 1800px;*/
    width: calc(100% - 300px);
    position: ;
    overflow: ;
    border-top: ;
    border-bottom: ;
    color: ;
}
.fond-forme {
    background: ;
    background-image: ;
    width: ;
    height: ;
    position: ;
    transform: rotate(-45deg) translateX(100px) translateY(-15px);
    z-index: -1;
}

.titre-pres {
    font-size: ;
    text-align: ;
    margin: ;
    padding-left: ;
}

.container-presentation {
    display: flex;
    width: ;
    justify-content: ;
    align-items: ;
    margin: ;
    flex-shrink: 0;
    padding-left: ;
}
.pres-gauche {
    width: 600px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 20px;
}
.pres-gauche h3 {
    text-align: ;
    font-size: ;
    letter-spacing: ;
}
.pres-gauche hr {
    width: ;
    margin: ;
}
.pres-gauche p {
    text-align: ;
}

.pres-droite {
    width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}
.liste-presentation {
    list-style-type: ;
    padding: ;
}
.chiffre-style {
    font-family: 'Abril Fatface', sans-serif;
    font-size: ;
}
.txt-liste {
    font-size: 'Montserrat', sans-serif;
    display: ;
}